@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* 
Styles {
    font-family: 'Brygada 1918', serif;
    font-family: 'Roboto', sans-serif;
}
*/


/*Afectando a la etiqueta*/

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Brygada 1918', serif;
}

h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

p,
a,
table {
    font-family: "Oswald", sans-serif;
    color: white;
}

header {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

nav {
    width: auto;
    color: white;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: 0.3s;
}

nav a:hover {
    background-color: tomato;
}

main {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    /* Lleva su propio width porque no es heredable de main*/
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: #373737;
    color: white;
    padding: 25px;
    margin: 50px;
    border-radius: 10px;
}


/*Afectando a la clase*/

.espacio {
    display: flex;
}


/*Afectando ID*/

#wellcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-image: url(../IMG/mars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bio {
    margin: 25px;
}

#profilePic {
    width: 400px;
    height: 400px;
    background-color: black;
    background-image: url();
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.6);
}

#social {
    margin-top: 15px;
}

#social li {
    display: inline-block;
}


/*Los logos de los íconos facebook, instagram y el cuervito */

#social li a {
    font-size: x-large;
    color: white;
    padding: 10px;
    transition: 0.5s;
}

#social li a.facebook :hover {
    color: dodgerblue;
    transition: 0.5s;
}

#social li a.instagram :hover {
    color: hotpink;
    transition: 0.5s;
}

#social li a.website :hover {
    color: slateblue;
    transition: 0.5s;
}


/* 
#social li a.website : hover {
    color: slateblue;
    transition: 0.5s;
}
*/


/*Small*/

@media (max-width: 640px) {}


/*Medium*/

@media (min-width: 641px) and (max-width:1007px) {}


/*Large*/

@media (min-width: 1008px) {}

@keyframes {
    from {}
}